__pycache__/

db.sqlite3

.env
.venv
__pycache__

pdf/chroma_langchain_db

object_detection/yolov8n.pt
object_detection/yolov8s.pt
object_detection/yolov8m.pt
object_detection/yolov8l.pt
object_detection/yolov8x.pt
object_detection/yolov5s.pt