{% extends "base.html" %}

{% block content %}
<!-- 📌 게시글 내용 -->
<div class="container my-3 board-content">
    <h2 class="border-bottom py-2">{{ board.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                {{ board.content }}
                {% if board.image %}
                    <img src="{{ board.image.url }}" class="content-img">
                {% endif %}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-secondary p-2">
                    작성자 | {{ board.user }}
                </div>
                <div class="badge bg-secondary p-2">
                    {{ board.c_date | date:'Y-m-d H:i' }}
                </div>
            </div>
            <div class="my-3">
                <a class="btn btn-sm btn-outline-primary" href="/board/update/{{ board.pk }}">수정</a>
                <a class="btn btn-sm btn-outline-danger" href="/board/delete/{{ board.pk }}">삭제</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
